main {
	border: 2px solid green;
	height: 500px;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border: 2px dashed purple;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.flex-container > div {
	background-color: pink;
	border: 1px solid red;
	padding: 30px;
	margin: 20px;
	color: blue;
	font-size: 30px;
	width: auto;
}